<h1>Login</h1>
<form action="/login" method="post">

  <label for="email">Tú Correo Electrónico?</label>
  <input name="email" type="text"/>
  <br/>

  <label for="password">Tú Contraseña?</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>
