<h1>Registro</h1>
<form action="/signup" method="post">

  <label for="name">Cual es tu nombre?</label>
  <input name="name" type="text"/>
  <br/>

  <label for="email">Cúal es tu Correo Electrónico?</label>
  <input name="email" type="text"/>
  <br/>

  <label for="password">Escoje una Contraseña</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>
