
<!DOCTYPE html>
<html>
<head>
  
</head>
<body>

<div class="container">
  <h1>Bienvenido! Elige tus ingredientes de Pizza</h1>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Peperoni</a></li>
      <li><a href="#">Champiñones</a></li>
      <li><a href="#">Extra Queso</a></li>
    </ul>
  </div>
</div>

<a href="/logout">Log out</a>
</body>
</html>




